<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSA Search Engine</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <h1 id="firstText">Search any DSA question</h1>
            <br>
            <form action="">
                <input type="text" name="question" id="question" placeholder="Type your question here">
                <br>
                <button type="submit" id="btn">Search</button>
            </form>
            <a href="/results">Results</a>
        </div>
    </div>
   <h1 id="topHeading">Algosearch</h1>
</body>
</html>